* {
  --main-bg-color: #023047;
  --title-font-color: #FCBF49;
  --text-font-color: #EAE2B7;
  --button-main-color: #F77F00;
  --alert-color: #D62828;
}

@font-face {
  font-family: 'Founders';
  src: url('./fonts/FoundersGrotesk-Bold.otf');
}

body{
  font-family: 'Noto Sans', sans-serif;
  background-color: var(--main-bg-color);
  background: linear-gradient(15deg, #0d2936 50%, #0b445f 50.1%);
  height: 100vh;
}
